* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main"
    ;
}

header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.main {
    grid-area: main;
}